<%- include('../partials/header') %>

<tr>
  <td>
<section id="show-page">
  <div>name: </div>
  <div><%= artist.name %></div>
  <div>Birthday: </div>
  <div><%= artist.birthday %></div>
  <div>Genre: </div>
  <div><%= artist.genre %></div>
  <div>On Instagram: </div>
  <div><%= artist.onInstagram ? 'Yes' : 'Nope' %></div>
  <% if (user && user._id.equals(artist.user)) { %>
    <a href="/artists/<%= artist.id %>/edit">Edit artist</a>
  <% }%>
  </section>
</td>
</tr>




<%- include('../partials/footer') %>